<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activity.drawer.navigation.com.kitabsawtitest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="activity.drawer.navigation.com.kitabsawtitest.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="activity.drawer.navigation.com.kitabsawtitest.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activity.drawer.navigation.com.kitabsawtitest.IntroductionItem" />
        <activity android:name="activity.drawer.navigation.com.kitabsawtitest.EducationItem" />
        <activity android:name="activity.drawer.navigation.com.kitabsawtitest.WorkItem" />
        <activity android:name="activity.drawer.navigation.com.kitabsawtitest.SkillItem" />
        <activity android:name="activity.drawer.navigation.com.kitabsawtitest.ContactItem" />

    </application>


</manifest>